# MONGODB_URI=mongodb+srv://deepak:2006@cluster0.9rejqdw.mongodb.net/?appName=Cluster0
# PORT=8000
# CLOUDINARY_CLOUD_NAME=dvyqrzdvb
# CLOUDINARY_API_KEY=199425748812483
# CLOUDINARY_API_SECRET=gKQ6ug33528A6NkY5j5sWPLd9jE
# CORS_ORIGIN=*
# ACCESS_TOKEN_SECRET=your_access_token_secret_here
# ACCESS_TOKEN_EXPIRY=1d
# REDIS_PASSWORD=o1q3mwdHzu1qe0cTgaZm3aOfUorArqxs
# REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
# REFRESH_TOKEN_EXPIRY=10d
# EMAIL=deepakydv26422@gmail.com
# EMAIL_PASS=cgkabkeslpqhwppm
# ELASTICSEARCH_URL=https://your-elastic-cloud-url:443
# ELASTIC_API_KEY=your_elastic_api_key_here