# MONGODB_URI=mongodb+srv://deepak:2006@cluster0.9rejqdw.mongodb.net/?appName=Cluster0
# PORT=8000
# CLOUDINARY_CLOUD_NAME=dvyqrzdvb
# CLOUDINARY_API_KEY=199425748812483
# CLOUDINARY_API_SECRET=gKQ6ug33528A6NkY5j5sWPLd9jE
# CORS_ORIGIN=*
# ACCESS_TOKEN_SECRET=your_access_token_secret_here
# ACCESS_TOKEN_EXPIRY=1d
# REDIS_PASSWORD=o1q3mwdHzu1qe0cTgaZm3aOfUorArqxs
# REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
# REFRESH_TOKEN_EXPIRY=10d
# EMAIL=deepakydv26422@gmail.com
# EMAIL_PASS=cgkabkeslpqhwppm
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=465
# Note: If you get IPv6 connection errors on Render, set SMTP_HOST=74.125.68.109 (Gmail IPv4)
# CLOUD_ID=My_Elasticsearch_project:YXNpYS1zb3V0aDEuZ2NwLmVsYXN0aWMuY2xvdWQkYmYyMDY2YTQ1MWExNGYxMjg1NzAxMzIwZWQxZGYyNmUuZXMkYmYyMDY2YTQ1MWExNGYxMjg1NzAxMzIwZWQxZGYyNmUua2I=
# ELASTIC_API_KEY=WXF4UjlwMEJOcTA3Q2NfZmNkMkc6TmpVQnUtQTRMVU4zaW9vNEQ4UkJCUQ==
# REDIS_URL=redis://red-d8ih8j5ckfvc73bqjb3g:6379